@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Segoe UI';
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
  background: #eff3f6 !important;
}

.flex {
    display: flex;
    &-1 {
        flex: 1;
        &:nth-child(2) {
            margin-left: 10px;
        }
    }

    &-column {
        flex-direction: column;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-center {
        justify-content: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}

.buttons {
    display: flex;
}
.buttons > * {
    margin-left: 10px;
}

svg {
    vertical-align: middle;
}

@media (max-width: 700px) {
    html {
        font-size: 14px;
    }
}
